.avatar-image{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 50%;
    min-width: 140px;
    overflow: hidden;
    position: relative;
    color: white;
    .img {
        width: 100%;
        height: auto;
    }
    .tick-mark {
        position: absolute;
        width: 70%;
        z-index: 100;
        fill: cornflowerblue;
        display: none;
    }
}
.carousel-item{
    position: relative;
    left: -150px;
}
.selected-character{
    border-color: cornflowerblue;
    .tick-mark {
        display: block;
    }
}
